<link rel="stylesheet" href="css/recuperopass.css"/>

<div class= "center">
    <h1>Servizio Recupero Password</h1>
</div>

<div class="center" margin-bottom: 10px>
    <label><b>Mail</b></label>
        <input class="mail" type="text" placeholder="Inserisci mail">
</div>

<div class="center" margin-bottom: 10px>
    <label><b>Nuova Password</b></label>
        <input class="mail" type="text" placeholder="Inserisci nuova password">
</div>

<div class="center" margin-bottom: 10px>
    <label><b>Conferma Password</b></label>
        <input class="mail" type="text" placeholder="Conferma password">
</div>

<div class:"center">
    <button class= "button">
        <p>Invia Richiesta</p>
</div>