<link rel="stylesheet" href="css/registrazione.css"/>



<body>
<div class="col-md-12 logo">
            <img src="images/logo.png"><h1>Registrazione Nuovo Account</h1>
        </div>

<div class="col-md-6"> <label><b>Nome</b></label><div>
                <input  type="text" class="a" placeholder="Nome.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Cognome</b></label><div>
                <input  type="text" class="a" placeholder="Cognome.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Indirizzo</b></label><div>
                <input  type="text" class="a" placeholder="Indirizzo.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Provincia</b></label><div>
                <input  type="text" class="a" placeholder="Provincia.." name="uname" /></div>
    </div>
<div class="col-md-6"> <label><b>CAP</b></label><div>
                <input  type="text" class="a" placeholder="CAP.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Telefono</b></label><div>
                <input  type="text" class="a" placeholder="Telefono.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>E-Mail</b></label><div>
                <input  type="text" class="a" placeholder="E-Mail.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Conferma E-Mail</b></label><div>
                <input  type="text" class="a" placeholder="Conferma E-Mail.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Password</b></label><div>
                <input  type="password" class="a" placeholder="Password.." name="uname" /></div>
    </div>

<div class="col-md-6"> <label><b>Conferma Password</b></label><div>
                <input  type="password" class="a" placeholder="Conferma Password.." name="uname" /></div>
    </div>

<div class="col-md-4 nopadding">
                            <input type="submit" value="Iscriviti" class="button btn-success" name="subscribe" />
                        </div>
</body>
