@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');
@import url('https://fonts.googleapis.com/css?family=Yantramanav');
:root{
    --default-website-color: green;
}
html,body{
    overflow-x: hidden;
    font-family: Yantramanav,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    color: #666;
    text-transform: none;
}
a{
    color: var(--default-website-color);
}
input.form-control{
    border-radius: 0;
}
input.form-control:focus{
    border-color: var(--default-website-color);
}
.btn{
    border-radius: 0;
} 
.nopadding{
    margin: 0 0 0 0!important;
    padding: 0 0 0 0!important;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inverse{
    background-color: #F2F2F2;
    border-bottom: 1px solid #E3E3E3;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    color: #777;
}
.navbar-inverse li.right{
    float: right;
}
.navbar-inverse li{
    border-left: 1px solid #E3E3E3;
    padding: 10px 20px;
}
.navbar-inverse li:not(:last-child){
    border-color: transparent;
}
.navbar-inverse p{
    color: #777;
    font-size: 16px;
    line-height: 1.8em;  
    font-family: Yantramanav,Helvetica,Arial,sans-serif;
    margin: 0px;
}
ul.bxslider h1{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #FFF;
    font-size: 70px;
}
ul.bxslider p{
    position: absolute;
    top: 59%;
    left: 10.1%;
    font-size: 30px;
    color: #FFF;
}
ul.bxslider a.more{
    border-radius: 0;
    border-color: transparent;
    position: absolute;
    top: 70%;
    left: 26.6%;
    display: none
}
.services h1{
    font-size: 36px;
}
.service{
    background: url(../images/service3.jpg);
    background-size: cover; 
    height: 400px; 
    border-right: 3px solid white; 
    border-left: 3px solid white; 
}
.textService{
    background: rgba(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    
    /*-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);*/

    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}
.service:hover > .textService{
    background: rgba(255, 255, 255, 0);

    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}
.textService p{
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 3.2em;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
}
.textService h1{
    text-align: center;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    background: rgba(137, 198, 67, .7);
    color: #FFF;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
}
.service:hover > .textService h1{
    opacity: 1;

    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}
.row-md-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.infos{        
    position: absolute;
    /* left: 0; */
    /* top: 100%; */
    z-index: 50;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.menuz{
    position: relative;
    top: 65px;
}
.menuz ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    margin: 10px 20px;
}
.menuz ul li a:hover, .menuz ul li a.active{
    color:  var(--default-website-color);
}
ul.homeIcons{
    margin: 0;
    color: #F2F2F2;
}
ul.homeIcons span{
    font-size: 50px;
    color: #F2F2F2;
}
ul.homeIcons li i.icon{
    font-size: 40px;
}
ul.homeIcons li{
    padding: 30px 40px;
}
.homeIconText{
    display: inline-block;
}
.headingIcon{
    margin-left: 15px;
}
.headingIcon p{
    line-height: 1.3;
    font-size: 16px;
}
.headingIcon p small{
    display: inline-block;
    font-size: 19px;
    line-height: 1;
    color:  var(--default-website-color);
}
.alignRight{
    float: right;
}
a.borderedButton{
    padding: 5px; 
    border: 2px solid var(--default-website-color);
    
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
a.borderedButton:hover{
    background: var(--default-website-color);
    color: #FFF!important;

    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
.slider-text {
    visibility:hidden;
}
.slider-text.active-slide {
    visibility: visible;
}
.maps iframe{
    border: 0; 
    width: 100%;
    height: 400px;
    pointer-events: none;
}
form.contactForm .form-group:nth-child(1), form.contactForm .form-group:nth-child(3) {
    padding-left: 0;
}
form.contactForm .form-group:nth-child(2), form.contactForm .form-group:nth-child(4) {
    padding-right: 0;
}
form.contactForm input, form.contactForm textarea{
    border-radius: 0;
}
form.contactForm input.sendEmail{
    border-radius: 0;
    width: 100%;
}
.footer{
    background: #333;
}
.footer h1{
    color: #FFF;
    text-align: center;
}
.footer p{
    font-size: 15px;
    text-align: justify;
}
.nav>li>a:focus, .nav>li>a:hover{
    color: var(--default-website-color); 
}
