@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');
html,body{
    overflow-x: hidden;
    font-family: Yantramanav,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    color: #666;
    text-transform: none;
}
.nopadding{
    margin: 0 0 0 0!important;
    padding: 0 0 0 0!important;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
ul.bxslider h1{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #666;
    font-size: 70px;
}
ul.bxslider p{
    position: absolute;
    top: 59%;
    left: 10.1%;
    font-size: 30px;
}
ul.bxslider a.more{
    border-radius: 0;
    border-color: transparent;
    position: absolute;
    top: 70%;
    left: 26.6%;
    display: none
}
.service{
    background: url(http://www.placehold.it/380x389);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
}
.overlay{
    background: rgba(242, 242, 242, 1);
    width: 100%;
    padding: 1em;
    position: relative;
    top: -1.678em;
    left: -.8em;
    width: 376px;
    
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
.service h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    background: rgba(0,0,0,.7);
    padding: 10px;
    position: relative;
    top: -20px;
    left: -15px;
    width: 376px;
    color: #FFF;

    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
.service p{
    text-align: center;
}
.service:hover > h1{
    background: rgba(0, 0, 0, 1);
}
.service:hover > .overlay{
    background: rgba(242, 242, 242, 0);


    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}